# env
.venv/
env/
__pycache__/
*.pyc

# vector DB
chroma_db/

# data (PDF raw files)
data/pdfs/

# logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# secrets
.env

# runtime DB
app.db

# cfa-rag-ui
cfa-rag-ui/node_modules/
cfa-rag-ui/dist/
cfa-rag-ui/*.tsbuildinfo